
.contact{
  background-color: #562015;
 
}


.contact ul{
  padding: 0px;
}

.contact-container{
  max-width: 1200px;
  padding: 120px 20px 60px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px 100px;
  align-items:center;
}


.contact-container p{
  font-family: "roboto", fira sans, open sans, Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
  color: #FFF2DD;
  
}


 .contact-container ul li{
  font-family: "roboto", fira sans, Arial, Helvetica, sans-serif;
  font-size: 1.75rem;
  color: #FFFFFF;
  list-style: none;
  line-height: 1.8;
  font-weight: 500;
}

.contact-container ul li a{
  text-decoration: none;
  color: #FFFFFF;
}

@media (max-width: 800px){

  .contact-container{
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
    padding: 40px;
    text-align: left;
  }

  .contact ul li{
    font-size: 1.55rem;
    line-height: 1.9;
  } 
}