
.header{
  display: flex;
  padding: 20px 40px;
  justify-content: flex-end;
  max-width: 1200px;
  margin: 0 auto;
}

.header-menu{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  list-style: none;
  padding: 20px 10px;
}

.header-menu a {
  font-family: "fira sans", quicksand, fira sans, open sans, Arial, Helvetica, sans-serif;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 500;
  color: #462A00;
  padding: 10px 20px;
  display: block;
  text-transform: uppercase;
}

.header-menu a:hover{
  color: #A56607;
  transition:0.10s;
}


@media (max-width: 600px){

  .header-menu a{
    background-color: #E4BD80;
    border-radius: 4px;
    font-size: 0.7rem;
    padding: 5px 10px;
  }

  .header-menu{
    gap: 20px;
    padding: 20px 10px 0px 10px;
  }

  .header{
    justify-content: center;
    padding: 1px 10px;
    margin-bottom: 0px;
  } 

}